# Personal Library I use for testing
ponicode/

# Database
database/

# Everything in node_modules
node_modules/

# ignore yarn.lock
yarn.lock
yarn-error.log

# Prevent constant updating of peers txt
peers.txt